h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#calculator{
    background-color: black;
    height: 600px;
    /* height:80vh; */
    width: 500px;
    /* width: 35vw; */
    margin:auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
}
#inputContainer{
    width: 100%;
    height: 20%;
    background-color: rgb(252, 249, 249);
    margin-bottom: 10px;
    border-radius: 20px;

}
#input{
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    font-size: xx-large;
    text-align: end;
    font-weight: 100;
}
#buttonsContainer{
    width: 100%;
    height: 80%;
    background-color: rgb(190, 45, 192);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2px;
    box-sizing: border-box;
}
.btn{
    cursor: pointer;

    background-color: rgb(252, 249, 249);
    border: 1px solid white;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    margin: 5px;
    box-sizing: border-box;
    /* float: left;  */
}
.btn:hover{
    background-color: rgba(191, 200, 207, 0.664);
    border: 2px solid black;
    border-radius: 10px;

}

/* @media screen and (max-width: 1060px) {
    #calculator{
        margin:0px 125px 0px 125px;
    }
  } */
  @media screen and (max-width: 600px) {
    #calculator{
        width: 350px;
        height: 500px;
    }
    h1{
        font-size: 30px;
    }
  }
  @media screen and (max-width: 450px) {
    #calculator{
        width: 300px;
        height: 450px;
    }
    h1{
        font-size: 30px;
    }
  }
